
@keyframes spin {
    0% {
        transform:rotatey(0deg)
    }
    50% {
        transform:rotatey(359deg)
    }
    100%{
        transform:rotatey(0deg)
    }
}

@keyframes marquee {
    0% { left:55%; width:45%; }
    50% { left:1%; width:99%; }
    100% { left:55%; width: 45%;}
}

@keyframes slider {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

@keyframes colorchange {
    0% {background-position: 0px 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0px 50%;}
}
