* {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing:border-box;
}

body {
    font-family: 'Josefin Sans';
    color: rgb(255, 255, 255);
    background-color:black;
}

html {
    scroll-behavior: smooth;
}

#logo {
    position:fixed;
    border-radius:30px;
    top: 3%;
    left:3%;
    animation: spin 4s linear infinite;
    width: 100px;
    height:100px;
    background-color:rgba(0, 0, 0, 0.178);
}

header {
    background: center url(https://thumbs.gfycat.com/ShimmeringQuestionableChicken-size_restricted.gif);
    background-repeat:no-repeat;
    background-size: cover;
    position:relative;
    height:240px;

    nav {
        display:grid;
        width:100%;
        height:60px;
        grid-template-columns: 1fr 1fr 1fr;
        position:relative;
        top:75%;
        text-align:center;
        padding:4px;

        button {
        border-radius:20px;
        font-family: 'Josefin Sans';
        color:white;
        background-color: rgba(0, 0, 0, 0.459);
        font-size: 2rem;
        width:75%;
        padding-top:8px;
        transform:translateY(10%);
        }
    }
}

#welcome {
    left:35%;
    top:15%;
    position:absolute;
    font-family: 'Josefin Sans';
    font-size:3rem;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius:20px;
    width:60%;
    padding:10px;
}

#back_to_top {
    position:fixed;
    bottom:5px;
    left:34%;
    width:auto;
    height:auto;
    padding:10px;
    background-color:black;
    border:none;
    border-radius:15px;
    text-align:center;

    a {
        font-size:1.2rem;
        color:white;
        font-family:'Josefin Sans';
    }
}

#phone {
    font-size:2em;
    width:auto;
    text-align:center;

    #desktop{
        display:none;
    }

    img {
        width:30px;
    }

    a:link {
        color: rgb(255, 255, 255);
    }
}


footer {
    position:relative;
    display:block;
    width:100%;
    width:auto;
    margin:10px 10px 50px 10px;
    text-align:center;
    font-size:1.5rem;
    @include colorchange;

            #hours {
                margin-top:20px;
            }

            #see_you {
                margin-top:15px;
                margin-bottom:20px;
            }
    p {
        font-size:.8rem;
    }
}
@media only screen and (min-width:600px) {

    #logo {
        top: 2%;
        left:2%;
        width: 150px;
        height:150px;
    }

    header {
        height:400px;
    
        nav {
            height:75px;
            top:80%;
    
            button {
            padding:10px;
            }
        }
    }

    #welcome {
        left:30%;
        top:20%;
        font-size:5rem;
        width:65%;
        margin-top:10px;
        margin-bottom:20px;
    }

    #back_to_top {
        left:33%;
        height:55px;
        margin:10px;
    
        a{
            font-size:1.8rem;
        }
    }

    #phone {

        #mobile {
            display:none;
        }

        #desktop {
            display:block;
        }

        img {
            display:none;
        }
    }

    footer{
        position:relative;
        width:100%;
        font-size:1.5rem;
        width:auto;
        margin:auto;
        padding:10px;
        text-align:center;
        
    }
    
    #address {
        justify-self:center;
        align-self:center;
        text-align:center;
        font-size:2rem;
        margin:10px;
    }
}

@media only screen and (min-width:1000px) {

        
    #phone_marquee {
        position:absolute;
        overflow:hidden;
        font-size:3em;
        white-space:nowrap;
        animation: marquee 13s linear infinite;
        color:white;
        margin-top:10px;
        margin-bottom:20px;
    
        a:link {
            color: rgb(255, 255, 255);
        }
    }

}