@mixin menu_items {
    position:absolute;
    width:360px;
    height:480px;
    font-size:.5rem;
    text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
    border:solid rgb(0, 0, 0) 4px;
    border-radius:15px;
    box-shadow:5px 5px 30px 30px rgba(0, 0, 0, 0.418);
    padding:2%;
}

@mixin menu_sections {
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x:center;
}

@mixin animated_gradient {
    background: linear-gradient(50deg, #ffee00, #97440d, #ff0022, #e89a3e);
    background-size: 300%;
    animation: colorchange 10s ease-in-out infinite;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}