
@import '_main.scss';
@import '_animations.scss';

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap');


#main_grid{
    display:grid;
    position:relative;
    grid-template-rows: auto 650px 600px;

    #about {
        grid-row-start:1;
        grid-row-end:2;
        font-size:3rem;
        padding-top:10px;
        align-self:center;
        justify-self:center;

        .about_paragraph {
            border:solid white 3px;
            border-radius:30px;
            padding:20px;
            margin-bottom:50px;

        }
    }

    
    .mapouter{
        grid-row-start:2;
        grid-row-end:3;
        align-self:center;
        justify-self:center;
        height:auto;
        width:auto;
        
        .gmap_canvas {
            overflow:hidden;
            background:none!important;
            height:500px;
            width:600px;
        }
    }
    
    iframe {
        width:600px;
        height:500px;
    }


    #address {
        grid-row-start:3;
        grid-row-end:4;
        justify-self:center;
        align-self:center;
        text-align:center;
        font-size:4rem;
        background: linear-gradient(50deg, #ffee00, #97440d, #ff0022, #e89a3e);
        background-size: 300%;
        padding:60px;
        margin-bottom:175px;
        box-shadow:2px 2px 25px 2px rgba(255, 255, 255, 0.247);
        animation: colorchange 10s ease-in-out infinite;
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;

        #see_you {
            font-size:3rem;
            padding-top:50px;
        }
    }

}


