@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap");
* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  color: white;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

#logo {
  position: fixed;
  border-radius: 30px;
  border: 2px solid black;
  top: 2%;
  left: 2%;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.178);
}

header {
  background: center url(https://thumbs.gfycat.com/ShimmeringQuestionableChicken-size_restricted.gif);
  background-repeat: no-repeat;
  background-size: 1000px;
  position: relative;
  height: 400px;
}

header nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 73%;
  text-align: center;
}

header nav button {
  border-radius: 20px;
  font-family: 'Josefin Sans';
  color: white;
  background-color: rgba(0, 0, 0, 0.459);
  font-size: 4rem;
  width: 75%;
  padding-top: 15px;
}

#welcome {
  left: 24%;
  top: 25%;
  position: absolute;
  font-family: 'Josefin Sans';
  font-size: 6rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  width: 74%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#back_to_top {
  position: fixed;
  bottom: 1%;
  left: 39%;
  width: auto;
  height: 62px;
  padding: 15px;
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 15px;
  text-align: center;
}

#back_to_top a {
  font-size: 2rem;
  color: white;
  font-family: 'Josefin Sans';
}

#phone {
  font-size: 3em;
  height: auto;
  width: auto;
  text-align: center;
}

#phone img {
  width: 50px;
}

#phone a:link {
  color: white;
}

#phone_marquee {
  position: absolute;
  overflow: hidden;
  font-size: 3em;
  white-space: nowrap;
  -webkit-animation: marquee 13s linear infinite;
          animation: marquee 13s linear infinite;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

#phone_marquee a:link {
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  5% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  10% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  5% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  10% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@-webkit-keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

#main_grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: auto 650px 600px;
      grid-template-rows: auto 650px 600px;
}

#main_grid #about {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 3rem;
  padding-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#main_grid #about .about_paragraph {
  border: solid white 3px;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 50px;
}

#main_grid .mapouter {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: auto;
  width: auto;
}

#main_grid .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

#main_grid iframe {
  width: 600px;
  height: 500px;
}

#main_grid #address {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 4rem;
  background: linear-gradient(50deg, #ffee00, #97440d, #ff0022, #e89a3e);
  background-size: 300%;
  padding: 60px;
  margin-bottom: 175px;
  -webkit-box-shadow: 2px 2px 25px 2px rgba(255, 255, 255, 0.247);
          box-shadow: 2px 2px 25px 2px rgba(255, 255, 255, 0.247);
  -webkit-animation: colorchange 10s ease-in-out infinite;
          animation: colorchange 10s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main_grid #address #see_you {
  font-size: 3rem;
  padding-top: 50px;
}
/*# sourceMappingURL=about.css.map */