
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap');

@import '_main.scss';
@import '_animations.scss';
@import '_variables.scss';

#main_wrapper {
    display:block;
    height:auto;

    #phone {
        border-bottom:solid 1px white;
    }

    #main_grid {
        display:grid;
        position:relative;

        #intro {
            grid-row-start:1;
            grid-row-end:2;
            width:auto;
            margin:auto;
            text-align:center;
            font-size:3rem;
        }

        #pizza_gallery { 
            width: 100%;
            overflow: hidden;
            grid-row-start: 2;
            grid-row-end:3;
            margin:auto;
            @include gallery;
            
        
            .slider { 
                position: relative;
                width: 500%;
                font-size: 0;
                animation: 30s pizza_slider infinite;
    
            }
        }

        #video_description{
            grid-row-start:3;
            grid-row-end:4;
            font-size:3rem;
            width:auto;
            margin:auto;
            padding:10px;
            text-align:center;
        }

        #restaurant_video {
            width:100%;
            grid-row-start:4;
            grid-row-end:5;
            

            iframe {
                display:block;
                margin:auto;
                height:400px;
            }
        }

        #thank_you  {
            grid-row-start:5;
            grid-row-end:6;
            font-size:3.5rem;
            width:auto;
            margin:auto;
            padding:10px;
            text-align:center;
        }

        #restaurant_gallery {
            width: 100%;
            overflow: hidden;
            grid-row-start: 6;
            grid-row-end:7;
            margin:auto;
            @include gallery;

            .slider { 
                position: relative;
                width: 500%;
                font-size: 0;
                animation: 30s restaurant_slider infinite;
            } 
        }
    }
}

@media only screen and (min-width:600px) {

}
