@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap");
* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  color: white;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

#logo {
  position: fixed;
  border-radius: 30px;
  top: 2%;
  left: 2%;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.178);
}

header {
  background: center url(https://thumbs.gfycat.com/ShimmeringQuestionableChicken-size_restricted.gif);
  background-repeat: no-repeat;
  background-size: 1000px;
  position: relative;
  height: 400px;
}

header nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 73%;
  text-align: center;
}

header nav button {
  border-radius: 20px;
  font-family: 'Josefin Sans';
  color: white;
  background-color: rgba(0, 0, 0, 0.459);
  font-size: 4rem;
  width: 75%;
  padding-top: 15px;
}

#welcome {
  left: 24%;
  top: 25%;
  position: absolute;
  font-family: 'Josefin Sans';
  font-size: 6rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  width: 74%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#back_to_top {
  position: fixed;
  bottom: 1%;
  left: 39%;
  width: auto;
  height: 62px;
  padding: 15px;
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 15px;
  text-align: center;
}

#back_to_top a {
  font-size: 2rem;
  color: white;
  font-family: 'Josefin Sans';
}

#phone {
  font-size: 3em;
  height: auto;
  width: auto;
  text-align: center;
}

#phone img {
  width: 50px;
}

#phone a:link {
  color: white;
}

#phone_marquee {
  position: absolute;
  overflow: hidden;
  font-size: 3em;
  white-space: nowrap;
  -webkit-animation: marquee 13s linear infinite;
          animation: marquee 13s linear infinite;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

#phone_marquee a:link {
  color: white;
}

footer {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  width: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  5% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  10% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  5% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  10% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@-webkit-keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@-webkit-keyframes pizza_slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes pizza_slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-webkit-keyframes restaurant_slider {
  0% {
    right: 0%;
  }
  20% {
    right: 0%;
  }
  25% {
    right: 100%;
  }
  45% {
    right: 100%;
  }
  50% {
    right: 200%;
  }
  70% {
    right: 200%;
  }
  75% {
    right: 300%;
  }
  95% {
    right: 300%;
  }
  100% {
    right: 400%;
  }
}

@keyframes restaurant_slider {
  0% {
    right: 0%;
  }
  20% {
    right: 0%;
  }
  25% {
    right: 100%;
  }
  45% {
    right: 100%;
  }
  50% {
    right: 200%;
  }
  70% {
    right: 200%;
  }
  75% {
    right: 300%;
  }
  95% {
    right: 300%;
  }
  100% {
    right: 400%;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

#main_wrapper {
  display: block;
  height: auto;
}

#main_wrapper #phone {
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px white;
}

#main_wrapper #main_grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  grid-auto-rows: 300px 800px 700px 800px 400px 900px;
}

#main_wrapper #main_grid #intro {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 4rem;
}

#main_wrapper #main_grid #pizza_gallery {
  width: 100%;
  overflow: hidden;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;
}

#main_wrapper #main_grid #pizza_gallery .slider {
  position: relative;
  width: 500%;
  font-size: 0;
  -webkit-animation: 30s pizza_slider infinite;
          animation: 30s pizza_slider infinite;
}

#main_wrapper #main_grid #pizza_gallery .slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

#main_wrapper #main_grid #pizza_gallery .slider figure img {
  width: 100%;
  height: 650px;
  border: solid black 5px;
}

#main_wrapper #main_grid #pizza_gallery .slider figure figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  width: 100%;
  font-size: 3rem;
  padding: 10px;
  text-align: center;
}

#main_wrapper #main_grid #video_description {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  font-size: 4rem;
  width: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#main_wrapper #main_grid #restaurant_video {
  width: 100%;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

#main_wrapper #main_grid #restaurant_video iframe {
  display: block;
  margin: auto;
  height: 630px;
}

#main_wrapper #main_grid #thank_you {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  font-size: 4rem;
  width: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#main_wrapper #main_grid #restaurant_gallery {
  width: 100%;
  overflow: hidden;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  margin: auto;
}

#main_wrapper #main_grid #restaurant_gallery .slider {
  position: relative;
  width: 500%;
  font-size: 0;
  -webkit-animation: 30s restaurant_slider infinite;
          animation: 30s restaurant_slider infinite;
}

#main_wrapper #main_grid #restaurant_gallery .slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

#main_wrapper #main_grid #restaurant_gallery .slider figure img {
  width: 100%;
  height: 650px;
  border: solid black 5px;
}

#main_wrapper #main_grid #restaurant_gallery .slider figure figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  width: 100%;
  font-size: 3rem;
  padding: 10px;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */