@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap");
* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  color: white;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

#logo {
  position: fixed;
  border-radius: 30px;
  top: 3%;
  left: 3%;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.178);
}

header {
  background: center url(https://thumbs.gfycat.com/ShimmeringQuestionableChicken-size_restricted.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 240px;
}

header nav {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 60px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 75%;
  text-align: center;
  padding: 4px;
}

header nav button {
  border-radius: 20px;
  font-family: 'Josefin Sans';
  color: white;
  background-color: rgba(0, 0, 0, 0.459);
  font-size: 2rem;
  width: 75%;
  padding-top: 8px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

#welcome {
  left: 35%;
  top: 15%;
  position: absolute;
  font-family: 'Josefin Sans';
  font-size: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  width: 60%;
  padding: 10px;
}

#back_to_top {
  position: fixed;
  bottom: 5px;
  left: 34%;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 15px;
  text-align: center;
}

#back_to_top a {
  font-size: 1.2rem;
  color: white;
  font-family: 'Josefin Sans';
}

#phone {
  font-size: 2em;
  height: auto;
  width: auto;
  text-align: center;
  padding: 10px;
}

#phone #desktop {
  display: none;
}

#phone img {
  width: 30px;
}

#phone a:link {
  color: white;
}

footer {
  position: relative;
  width: 100%;
  width: auto;
  margin: 10px 10px 50px 10px;
  text-align: center;
}

#address {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  #logo {
    top: 2%;
    left: 2%;
    width: 150px;
    height: 150px;
  }
  header {
    height: 400px;
  }
  header nav {
    height: 75px;
    top: 80%;
  }
  header nav button {
    padding: 10px;
  }
  #welcome {
    left: 30%;
    top: 20%;
    font-size: 5rem;
    width: 65%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #back_to_top {
    left: 33%;
    height: 55px;
    margin: 10px;
  }
  #back_to_top a {
    font-size: 1.8rem;
  }
  #phone #mobile {
    display: none;
  }
  #phone #desktop {
    display: block;
  }
  #phone img {
    display: none;
  }
  footer {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    width: auto;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  #address {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    font-size: 2rem;
    margin: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  #phone_marquee {
    position: absolute;
    overflow: hidden;
    font-size: 3em;
    white-space: nowrap;
    -webkit-animation: marquee 13s linear infinite;
            animation: marquee 13s linear infinite;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #phone_marquee a:link {
    color: white;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  5% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  10% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  5% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  10% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@-webkit-keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@-webkit-keyframes pizza_slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes pizza_slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-webkit-keyframes restaurant_slider {
  0% {
    left: -400%;
  }
  5% {
    left: -300%;
  }
  25% {
    left: -300%;
  }
  30% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  55% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  80% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

@keyframes restaurant_slider {
  0% {
    left: -400%;
  }
  5% {
    left: -300%;
  }
  25% {
    left: -300%;
  }
  30% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  55% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  80% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

#main_wrapper {
  display: block;
  height: auto;
}

#main_wrapper #phone {
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px white;
}

#main_wrapper #main_grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  grid-auto-rows: 300px 400px 500px 400px 400px 400px;
}

#main_wrapper #main_grid #intro {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
}

#main_wrapper #main_grid #pizza_gallery {
  width: 100%;
  overflow: hidden;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;
}

#main_wrapper #main_grid #pizza_gallery figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

#main_wrapper #main_grid #pizza_gallery figure img {
  width: 100%;
  height: 350px;
  border: solid black 5px;
}

#main_wrapper #main_grid #pizza_gallery figure figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}

#main_wrapper #main_grid #pizza_gallery .slider {
  position: relative;
  width: 500%;
  font-size: 0;
  -webkit-animation: 30s pizza_slider infinite;
          animation: 30s pizza_slider infinite;
}

#main_wrapper #main_grid #video_description {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  font-size: 3rem;
  width: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#main_wrapper #main_grid #restaurant_video {
  width: 100%;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

#main_wrapper #main_grid #restaurant_video iframe {
  display: block;
  margin: auto;
  height: 400px;
}

#main_wrapper #main_grid #thank_you {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  font-size: 3.5rem;
  width: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#main_wrapper #main_grid #restaurant_gallery {
  width: 100%;
  overflow: hidden;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  margin: auto;
}

#main_wrapper #main_grid #restaurant_gallery figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

#main_wrapper #main_grid #restaurant_gallery figure img {
  width: 100%;
  height: 350px;
  border: solid black 5px;
}

#main_wrapper #main_grid #restaurant_gallery figure figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}

#main_wrapper #main_grid #restaurant_gallery .slider {
  position: relative;
  width: 500%;
  font-size: 0;
  -webkit-animation: 30s restaurant_slider infinite;
          animation: 30s restaurant_slider infinite;
}

#address {
  background: linear-gradient(50deg, #ffee00, #97440d, #ff0022, #e89a3e);
  background-size: 300%;
  -webkit-animation: colorchange 10s ease-in-out infinite;
          animation: colorchange 10s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 600px) {
  #main_grid {
    grid-auto-rows: 200px 300px 500px 300px 250px 500px;
  }
}
/*# sourceMappingURL=index.css.map */