@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap");
* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body {
  font-family: 'Josefin Sans';
  color: white;
  background-color: black;
}

#logo {
  border-style: none;
  border-radius: 180px;
  background-color: none;
  position: fixed;
  top: 15px;
  left: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.685);
          box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.685);
  -webkit-animation: spin 8s linear infinite;
          animation: spin 8s linear infinite;
  width: 200px;
  height: 200px;
}

header {
  background: center url(https://thumbs.gfycat.com/ShimmeringQuestionableChicken-size_restricted.gif);
  background-repeat: no-repeat;
  background-size: 1000px;
  position: relative;
  height: 400px;
}

header nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 73%;
  text-align: center;
}

header nav button {
  border-radius: 20px;
  font-family: 'Josefin Sans';
  color: white;
  background-color: rgba(0, 0, 0, 0.459);
  font-size: 4rem;
  width: 75%;
  padding-top: 15px;
}

#welcome {
  left: 22%;
  top: 25%;
  position: absolute;
  font-family: 'Josefin Sans';
  font-size: 6rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  width: 74%;
  padding-top: 7px;
  padding-bottom: 3px;
}

#main_grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: 75px;
      grid-template-rows: 75px;
  grid-auto-rows: 1800px;
  color: white;
  width: 100%;
  padding: 2px;
}

#main_grid #marquee {
  position: absolute;
  overflow: hidden;
  font-size: 3em;
  white-space: nowrap;
  -webkit-animation: marquee 13s linear infinite;
          animation: marquee 13s linear infinite;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 20px;
}

#main_grid #marquee a:link {
  color: white;
}

#main_grid #marquee a:visited {
  color: red;
}

#main_grid #classic {
  position: relative;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#main_grid #veggie {
  position: relative;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#main_grid #specialty {
  position: relative;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#main_grid #sides {
  position: relative;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#main_grid #drinks {
  position: relative;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#main_grid .pizza_header {
  position: relative;
  font-family: 'Josefin Sans';
  font-size: 2.1rem;
  color: white;
  text-align: center;
  padding: 45px;
  border: solid white 3px;
  width: 100%;
  background: rgba(0, 0, 0, 0.459);
}

#main_grid .item_1 {
  position: absolute;
  width: 360px;
  height: 480px;
  left: 10%;
  top: 12%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_2 {
  position: absolute;
  width: 360px;
  height: 480px;
  left: 55%;
  top: 12%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_3 {
  position: absolute;
  width: 360px;
  height: 480px;
  bottom: 32%;
  left: 34%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_4 {
  position: absolute;
  width: 360px;
  height: 482px;
  left: 10%;
  bottom: 3%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_5 {
  position: absolute;
  width: 360px;
  height: 482px;
  left: 55%;
  bottom: 3%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid p {
  text-align: center;
  padding: 20px;
  font-family: 'Josefin Sans';
  font-size: 2.3rem;
}

#back_to_top {
  position: fixed;
  font-family: 'Josefin Sans';
  color: white;
  font-size: 4rem;
  bottom: 0%;
  left: 58%;
  z-index: 1;
}
/*# sourceMappingURL=menu.css.map */