@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap");
* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  color: white;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

#logo {
  position: fixed;
  border-radius: 30px;
  border: 2px solid black;
  top: 2%;
  left: 2%;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.178);
}

header {
  background: center url(https://thumbs.gfycat.com/ShimmeringQuestionableChicken-size_restricted.gif);
  background-repeat: no-repeat;
  background-size: 1000px;
  position: relative;
  height: 400px;
}

header nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 73%;
  text-align: center;
}

header nav button {
  border-radius: 20px;
  font-family: 'Josefin Sans';
  color: white;
  background-color: rgba(0, 0, 0, 0.459);
  font-size: 4rem;
  width: 75%;
  padding-top: 15px;
}

#welcome {
  left: 24%;
  top: 25%;
  position: absolute;
  font-family: 'Josefin Sans';
  font-size: 6rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  width: 74%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#back_to_top {
  position: fixed;
  bottom: 1%;
  left: 39%;
  width: auto;
  height: 62px;
  padding: 15px;
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 15px;
  text-align: center;
}

#back_to_top a {
  font-size: 2rem;
  color: white;
  font-family: 'Josefin Sans';
}

#phone {
  position: absolute;
  overflow: hidden;
  font-size: 3em;
  white-space: nowrap;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

#phone a:link {
  color: white;
}

#phone_marquee {
  position: absolute;
  overflow: hidden;
  font-size: 3em;
  white-space: nowrap;
  -webkit-animation: marquee 13s linear infinite;
          animation: marquee 13s linear infinite;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

#phone_marquee a:link {
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  50% {
    -webkit-transform: rotatey(359deg);
            transform: rotatey(359deg);
  }
  100% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  50% {
    -webkit-transform: rotatey(359deg);
            transform: rotatey(359deg);
  }
  100% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
}

@-webkit-keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@keyframes marquee {
  0% {
    left: 55%;
    width: 45%;
  }
  50% {
    left: 1%;
    width: 99%;
  }
  100% {
    left: 55%;
    width: 45%;
  }
}

@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@keyframes colorchange {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@-webkit-keyframes slide_in {
  from {
    left: 200%;
  }
  to {
    left: 0%;
  }
}

@keyframes slide_in {
  from {
    left: 200%;
  }
  to {
    left: 0%;
  }
}

#main_grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  grid-auto-rows: 1800px;
  color: white;
  padding: 4px;
}

#main_grid #classic {
  position: relative;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 50px;
}

#main_grid #veggie {
  position: relative;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 50px;
}

#main_grid #specialty {
  position: relative;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 50px;
}

#main_grid #sides {
  position: relative;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 50px;
}

#main_grid #drinks {
  position: relative;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  background-image: url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 50px;
}

#main_grid .pizza_header {
  position: relative;
  font-family: 'Josefin Sans';
  font-size: 2.6em;
  color: white;
  border-top: solid white 3px;
  border-bottom: solid white 3px;
  background: rgba(0, 0, 0, 0.459);
  height: 135px;
  text-align: center;
  padding-top: 45px;
}

#main_grid .item_1 {
  position: absolute;
  width: 360px;
  height: 480px;
  left: 10%;
  top: 12%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_2 {
  position: absolute;
  width: 360px;
  height: 480px;
  left: 55%;
  top: 12%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_3 {
  position: absolute;
  width: 360px;
  height: 480px;
  bottom: 32%;
  left: 34%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_4 {
  position: absolute;
  width: 360px;
  height: 482px;
  left: 10%;
  bottom: 3%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid .item_5 {
  position: absolute;
  width: 360px;
  height: 482px;
  left: 55%;
  bottom: 3%;
  font-size: .5rem;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  border: solid black 4px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
          box-shadow: 5px 5px 30px 30px rgba(0, 0, 0, 0.418);
  padding: 2%;
}

#main_grid p {
  text-align: center;
  padding: 20px;
  font-family: 'Josefin Sans';
  font-size: 2.3rem;
}

#back_to_top {
  position: fixed;
  bottom: 1%;
  left: 39%;
  width: auto;
  height: 62px;
  padding: 15px;
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 15px;
  text-align: center;
}

#back_to_top a {
  font-size: 2rem;
  color: white;
  font-family: 'Josefin Sans';
}
/*# sourceMappingURL=menu.css.map */