
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@600&display=swap');

@import '_main.scss';
@import '_animations.scss';

#main_grid {
    display:grid;
    position:relative;
    grid-template-rows: 100px;
    grid-auto-rows:1800px;
    color:rgb(255, 255, 255);
    width:100%;
    padding:2px;

    #classic {
        position:relative;
        grid-row-start: 2;
        grid-row-end:3;
        background-image:url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
        background-repeat:no-repeat;
        background-size:cover;
        background-position-x:center;
    }

    #veggie {
        position:relative;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image:url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
        background-repeat:no-repeat;
        background-size: cover;
        background-position-x:center;
    }
        
    #specialty {
        position:relative;
        grid-row-start: 4;
        grid-row-end: 5;
        background-image:url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
        background-repeat:no-repeat;
        background-size: cover;
        background-position-x:center;
    }

    #sides {
        position:relative;
        grid-row-start:5;
        grid-row-end:6;
        background-image:url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
        background-repeat:no-repeat;
        background-size: cover;
        background-position-x:center;
    }

    #drinks {
        position:relative;
        grid-row-start:6;
        grid-row-end:7;
        background-image:url(https://i.pinimg.com/originals/8f/5f/0a/8f5f0a33641b298e2029d80747148dad.gif);
        background-repeat:no-repeat;
        background-size:cover;
        background-position-x:center;
    }

    .pizza_header {
        position:relative;
        font-family:'Josefin Sans';
        font-size:3rem;
        color:rgb(255, 255, 255);
        text-align:center;
        padding:45px;
        border:solid white 3px;
        width:100%;
        background:rgba(0, 0, 0, 0.459);
    }

    .item_1 {
        position:absolute;
        width:360px;
        height:480px;
        left:10%;
        top:12%;
        font-size:.5rem;
        text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
        border:solid rgb(0, 0, 0) 4px;
        border-radius:15px;
        box-shadow:5px 5px 30px 30px rgba(0, 0, 0, 0.418);
        padding:2%;
    }

    .item_2 {
        position:absolute;
        width:360px;
        height:480px;
        left:55%;
        top:12%;
        font-size:.5rem;
        text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
        border:solid rgb(0, 0, 0) 4px;
        border-radius:15px;
        box-shadow:5px 5px 30px 30px rgba(0, 0, 0, 0.418);
        padding:2%;
    }

    .item_3 {
        position:absolute;
        width:360px;
        height:480px;
        bottom:32%;
        left:34%;
        font-size:.5rem;
        text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
        border:solid rgb(0, 0, 0) 4px;
        border-radius:15px;
        box-shadow:5px 5px 30px 30px rgba(0, 0, 0, 0.418);
        padding:2%;
    }

    .item_4 {
        position:absolute;
        width:360px;
        height:482px;
        left:10%;
        bottom:3%;
        font-size:.5rem;
        text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
        border:solid rgb(0, 0, 0) 4px;
        border-radius:15px;
        box-shadow:5px 5px 30px 30px rgba(0, 0, 0, 0.418);
        padding:2%;
    }

    .item_5 {
        position:absolute;
        width:360px;
        height:482px;
        left:55%;
        bottom:3%;
        font-size:.5rem;
        text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
        border:solid rgb(0, 0, 0) 4px;
        border-radius:15px;
        box-shadow:5px 5px 30px 30px rgba(0, 0, 0, 0.418);
        padding:2%;
    }

    p {
        text-align:center;
        padding:20px;
        font-family:'Josefin Sans';
        font-size:2.3rem;
    }
}

#back_to_top {
    position:fixed;
    bottom:1%;
    left:39%;
    width:auto;
    height:62px;
    padding:15px;
    margin:10px;
    background-color:black;
    border:none;
    border-radius:15px;
    text-align:center;

    a{
        font-size:2rem;
        color:white;
        font-family:'Josefin Sans';
    }
}


