* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(359deg);
    }
}

body {
    font-family: 'Architects Daughter';
    color: red;
}

img {
    border-style:none;
    border-radius: 180px;
    background-color:none;
    position:fixed;
    top: 2vh;
    left: 2vw;
    box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.685);
    animation: spin 8s linear infinite;
}

header {
    width:100%;
    background-color:rgb(255, 0, 0);
    height:19vh;
    position:relative;

    nav {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        width:100%;      

        button {
        width:33vw;
        height:4vh;
        border-style:none;
        box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.685);
        border-radius:15em;
        margin-top:13vh;
        background-color:transparent;
        font-family: 'Architects Daughter';
        font-size: 2rem;
        }
    }
}

div {
    height: 1000px;
}

h1 {
    position:absolute;
    color:black;
    font-family: 'Architects Daughter';
    left: 30vw;
    top:5vh;
    font-size:3rem;
}