* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(359deg);
    }
}

body {
    font-family: 'Architects Daughter';
    color: red;
}

img {
    width: 50px;
    height: 50px;
}

#logo > img {
    border-style:none;
    border-radius: 180px;
    background-color:none;
    position:fixed;
    top: 2vh;
    left: 2vw;
    box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.685);
    animation: spin 8s linear infinite;
    width: 200px;
    height:200px;
}

header {
    width:100%;
    background-color:rgb(255, 0, 0);
    height:19vh;
    position:relative;

    nav {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        width:100%;      

        button {
        width:33vw;
        height:4vh;
        border-style:none;
        box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.685);
        border-radius:15em;
        margin-top:13vh;
        background-color:transparent;
        font-family: 'Architects Daughter';
        font-size: 2rem;
        }
    }
}

h1 {
    position:absolute;
    color:black;
    font-family: 'Architects Daughter';
    left: 30vw;
    top:5vh;
    font-size:3rem;
}

iframe {
    width:600px;
    height:500px;
}

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:500px;
        width:600px;
    }
}

#main_grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    #classic {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column:1 / 2;
        grid-row:1 / 2;

        .a {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }
        
        .b {
            grid-column:3 / 4;
            grid-row:1 / 1;
        }
        
        .c {
            grid-column: 2 / 3;
            grid-row:2 / 3;
        }
        
        .d {
            grid-column:3 / 4;
            grid-row:3 / 4;
        }
        
        .e {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    }

    #veggie {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column:2 / 3;
        grid-row:2 / 3;
    }
    
    #specialty {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column:1 /2;
        grid-row:3 / 4;
    }

    #sides {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column:2 / 3;
        grid-row:4 / 5;
    }

    #drinks {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column:1 / 2;
        grid-row:5 / 6;
    }
    
}
